<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/fontawesome-free-5.8.1-web/css/all.min.css">
	<title>Select Access</title>
</head>
<body>
<div class="container" style="width:500px">
	<br><br><br><br><br>
	<div class="login-form" style="border:1px solid darkblue">
		<form action="/password/forgot" method="get">
			<div class="header" style="background:darkblue;border-radius:0px">
				<span style="color:white">Masukkan email terdaftar</span>
			</div>
			<div class="form-group">
				<div>
					<div class="input-group">
						<input type="text" class="form-control" name="email" placeholder="email">
						<button type="submit" id="btn-submit" class="btn btn-primary login-btn btn-block ">Submit</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label style="display: block; text-align: center">2020 - Xsis Mitra Utama</label>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
	
		var url_string = window.location.href;
	    var url = new URL(url_string);
	    var c = url.searchParams.get("error");
	    
	    if(c=="1"){
	    //pop up error
	    alert("Email tidak terdaftar");
		}

	</script>

</body>
</html>