<!DOCTYPE html>
<html>
<body>
<form action="/lainlain/saveref" method="post">
	<div class="modal-header" style="background-color: blue">
		<h4 class="modal-title" style="color:white">Tambah Referensi</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<div class="col">
				<label class="col col-form-label">Nama</label>
				<div class="col">
					<textarea name="name" style="resize: unset" class="form-control" required="required"></textarea>
				</div>
			</div>
			<div class="col">
				<label class="col col-form-label">Alamat & No. HP</label>
				<div class="col">
					<textarea name="addressPhone" style="resize: unset" class="form-control" required="required"></textarea>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col">
				<label class="col col-form-label">Jabatan</label>
				<div class="col">
					<textarea name="position" style="resize: unset" class="form-control" required="required"></textarea>
				</div>
			</div>
			<div class="col">
				<label class="col col-form-label">Hubungan</label>
				<div class="col">
					<textarea name="relation" style="resize: unset" class="form-control" required="required"></textarea>
				</div>
			</div>
		</div>
		<br><br>
		<div class="btn-group float-right">
			<a href="/lainlain"><button type="button" class="btn btn-warning col"><font style="color:white">Batal</font></button></a>
			<button type="submit" class="btn btn-primary col"><font style="color:white">Simpan</font></button>
		</div>
		<br><br>
	</div>
</form>
</body>
</html>