<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="/admin/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/admin/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/admin/bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="/admin/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="/admin/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="/admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

<title>Profil</title>
</head>
<body>
<div class="content">
	<div class="box box-primary" style="width:70%">
		<table class="table">
			<tr>
				<th class="box-body box-profile" style="width:15%">
					<img src="" class="profile-user-img img-responsive img-circle" alt="User profile picture">
				</th>
				<th></th>
				<th>
				Reno Maclon Siwabessy di Depok<br>
				Java Web Developer<br>
				10 Tahun<br>
				Laki - laki<br>
				Sistem Informasi, Gunadarma<br>
				</th>
				<th style="width:15%"><a href="#" class="btn btn-primary btn-block"><b>Unduh</b></a></th>
			</tr>
		</table>
		
		<table class="table">
			<tr>
				<td colspan="2">Pendidikan</td>
			</tr>
			<tr>
				<td>2010 - 2015</td>
				<td>
				Universitas Gunadarma, Indonesia<br>
				Sistem Informasi<br>
				4.00
				</td>
			</tr>
		</table>
		
		<table class="table">
			<tr>
				<td>
				Pengalaman<br>
				2015 - 2017
				</td>
				<td>
				Java Programmer<br>
				PT. Sumber Makmur<br>
				4.00
				</td>
				<td></td>
			</tr>
		</table>
		
		<table class="table table-borderless">
			<tr >
<!-- 			th:each="pro : ${profil}" -->
				<td>
<!-- 				<span th:text="${pro.schoolName}"></span> -->
				Keterampilan<br>
				Expert<br>
				Intermediate<br>
				Beginner<br>
				</td>
				<td>
				Universitas Gunadarma, Indonesia<br>
				Sistem Informasi<br>
				4.00
				</td>
				<td></td>
			</tr>
		</table>
		
		<table class="table">
			<tr>
				<td>
				Training<br>
				2010 - 2015
				</td>
				<td>
				Universitas Gunadarma, Indonesia<br>
				Sistem Informasi<br>
				4.00
				</td>
				<td></td>
			</tr>
		</table>
		
		<table class="table">
			<tr>
				<td>
				Sertifikasi<br>
				2010 - 2015
				</td>
				<td>
				Universitas Gunadarma, Indonesia<br>
				Sistem Informasi<br>
				4.00
				</td>
				<td></td>
			</tr>
		</table>
	
	</div>
</div>
<script src="/admin/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/admin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/admin/bower_components/fastclick/lib/fastclick.js"></script>
<script src="/admin/dist/js/adminlte.min.js"></script>
<script src="/admin/dist/js/demo.js"></script>

</body>
</html>