<html>
<body>
<form action="/pengalaman/save" method="post">
	<div class="modal-header">
		<h3 class="modal-title">Tambah Pengalaman Kerja</h3>
		<button type="button" class="close" data-dismiss="modal"
			aria-label="close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="container">
			<div class="row">
				<div class="row col-6">

					<div class="col-12">
						<label>Nama Perusahaan/Instansi *</label> <input type="text"
							name="companyName" class="form-control" required>
					</div>

					<div class="col-6">
						<label>Waktu Masuk *</label>
							 <select type="text" name="joinMonth" class="form-control">
							 	<option value="">- Pilih Bulan -</option>
								<option th:each="i:${#numbers.sequence(1,12)}" th:value="${i}" th:text="${i}"/>
							 </select>
					</div>

					<div class="col-6">
						<label><br></label> 
						<select id="joinYear" name="joinYear"class="form-control">
						</select>
					</div>

					<div class="col-12">
						<label>Posisi Terakhir *</label> <input type="text"
							name="lastPosition" class="form-control">
					</div>

					<div class="col-12">
						<input type="checkbox" name="isItRelated" > IT Related ?
					</div>

				</div>

				<div class="row col-6">

					<div class="col-6">
						<label>Kota</label> <input type="text" name="city"
							class="form-control">
					</div>

					<div class="col-6">
						<label>Negara</label> <input type="text" name="country"
							class="form-control">
					</div>

					<div class="col-6">
						<label>Waktu Keluar *</label> 
						<select name="resignMonth" class="form-control">
							<option value="">-pilih Bulan -</option>
							<option th:each="i:${#numbers.sequence(1,12)}" th:value="${i}" th:text="${i}"/>
						</select>
					</div>

					<div class="col-6">
						<label><br></label> 
						<select id="resignYear" name="resignYear" class="form-control"></select>
					</div>

					<div class="col-12">
						<label>Penghasilan Terakhir (IDR)</label> <input type="text"
							name="income" class="form-control">
					</div>

				</div>

			</div>
			<br>
			<div class="row col-12">
				<div class="col-12">
					<label>Keterangan Singkat Mengenai Pekerjaan</label>
					<textarea name="aboutJob" class="form-control"></textarea>
				</div>
				<div class="col-12">
					<label>Alasan Keluar</label> <input type="text" name="exitReason"
						class="form-control">
				</div>
				<div class="col-12">
					<label>Catatan</label>
					<textarea name="notes" class="form-control"></textarea>
				</div>

				
			</div>
			<div class="btn-group float-right">
						<a href="pengalaman"><button type="button"class="btn btn-warning">Batal</button></a>
						<button type="submit" class="btn btn-primary">Simpan</button>
				</div>
		</div>

	</div>
</form>
<script type="text/javascript">
	//Select tahun down
	var max1 = new Date().getFullYear();
	min1 = max1-20,
	select1 = document.getElementById('joinYear');
	
	var opt1 = document.createElement('option');
	opt1.value = "";
	opt1.innerHTML = "- Pilih Tahun -";
	select1.appendChild(opt1);
	for (var i = max1; i>=min1; i--){
		var opt1 = document.createElement('option');
		opt1.value = i;
		opt1.innerHTML = i;
		select1.appendChild(opt1);
	}
	//select1.value = new Date().getFullYear();
	
	
	//Select tahun up
	select2 = document.getElementById('resignYear');
	
	var opt2 = document.createElement('option');
	opt2.value = "";
	opt2.innerHTML = "- Pilih Tahun -";
	select2.appendChild(opt2);
	for (var j = max1; j>=min1; j--){
		var opt2 = document.createElement('option');
		opt2.value = j;
		opt2.innerHTML = j;
		select2.appendChild(opt2);
	}
	//select2.value = new Date().getFullYear();
	
</script>
</body>
</html>