<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="../../fontawesome-free-5.8.1-web/css/all.min.css" >
</head>
<body>
<form th:action="@{pengalaman/delete}" method="post">
	<input type="text" name="id" th:value="${data.id}" style="display: none">
	<div class="modal-header">
		<h3 class="modal-title">Hapus Pengalaman Kerja</h3>
		<button type="button" class="close" data-dismiss="modal"
			aria-label="close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
	<div class="container">
		
		<div class="row">
			<div class="col-4">
				<i class="fas fa-trash"></i>
			</div>
			<div class="col-8 text-center">
				<p>Anda yakin ingin menghapus pengalaman di<br><span th:text="${data.companyName}"></span><span> ?</span></p>
			</div>
		</div>
		<input type="hidden" name="id" th:value="${data.id}">
		<input type="hidden" name="companyName" th:value="${data.companyName}">
		<input type="hidden" name="city" th:value="${data.city}">
		<input type="hidden" name="country" th:value="${data.country}">
		<input type="hidden" name="joinYear" th:value="${data.joinYear}">
		<input type="hidden" name="joinMonth" th:value="${data.joinMonth}">
		<input type="hidden" name="resignYear" th:value="${data.resignYear}">
		<input type="hidden" name="resignMonth" th:value="${data.resignMonth}">
		<input type="hidden" name="lastPosition" th:value="${data.lastPosition}">
		<input type="hidden" name="income" th:value="${data.income}">
		<input type="hidden" name="isItRelated" th:value="${data.isItRelated}">
		<input type="hidden" name="aboutJob" th:value="${data.aboutJob}">
		<input type="hidden" name="exitReason" th:value="${data.exitReason}">
		<input type="hidden" name="notes" th:value="${data.notes}">
		<div class="form-group-row">
			<div class="col-3 offset-9">
				<a href="/pengalaman"><button type="button" class="btn btn-warning float-right">Tidak</button></a>
				<button type="submit" class="btn btn-primary float-right">Ya</button>
			</div>
		</div>
	</div>
	</div>

</form>
</body>
</html>