<!DOCTYPE html>
<html>
<head>
	<title>Delete HTML</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<h3>Hapus Pengalaman Kerja ?</h3>
		</div>
		<div class="row">
			<div class="col-4">
				<i class="fas fa-trash"></i>
			</div>
			<div class="col-8 text-center">
				<p>Anda yakin ingin menghapus pengalaman di<br><strong>PT.Makmur Jaya ?</strong></p>
			</div>
		</div>
		<form action="#" method="post" class="row">
			<button class="btn btn-danger float-right">Ya</button>
			<button class="btn btn-danger float-right">Tidak</button>
		</form>
	</div>
</body>
</html>