<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	
	<title>Index HTML</title>
</head>
<body>
	<h3>Pengalaman Kerja
		<i class="fas fa-plus"></i>
	</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Detail Pekerjaan</th>
				<th>Catatan</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="pgkj : ${listData}">
				<td><span th:text="${pgkj.companyName}"></span> (<span th:text="${pgkj.joinYear}"></span>-<span th:text="${pgkj.joinMonth}"></span> s/d <span th:text="${pgkj.resignYear}"></span>-<span th:text="${pgkj.resignMonth}"></span>)</td>
				<td><span th:text="${pgkj.notes}"></span></td>
				<td class="text-center">
							<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">More
								<span class="caret"></span></button>
								<ul class="dropdown-menu">
								    <li>
								    	<a th:href="@{/pengalaman/edit/{id}(id=${pgkj.id})}" id="btn-edit" class="btn btn-sm col-5">
										<em>Edit<i class="fas fa-edit"></i></em>
										</a>
									</li>
								    <li>
								    	<a th:href="@{/pengalaman/delete/{id}(id=${pgkj.id})}" class="btn-delete btn btn-sm col-5">
										<em>Delete<i class="fas fa-trash-alt"></i></em>
										</a>
								    </li>
								</ul>
							</div> 
						</td>
			</tr>
		</tbody>
	</table>
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/fontawesome.min.js"></script>
    
</body>
</html>