<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Tambah Role</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<style type="text/css">
			.bg_style{
				background-color : #01006d
			}
			
			label{
				color : #01006d
			}
		</style>
	</head>
	<body>
	<form th:action="@{/role/save}" method="post">
		<div class="modal-header bg_style text-white">
			<p class="modal-title"><strong>Tambah Role</strong></p>
			<!-- <button type="button" class="close text-white" data-dismiss="modal">
				<i class="fas fa-times"></i>
	       	</button> -->
		</div>
		<div class="modal-body">
			<div class="form-group row">
				<div class="col-6">
					<label>Kode *</label>
					<input type="text" name="code" class="form-control" required>
				</div>
				<div class="col-6">
					<label>Nama *</label>
					<input type="text" name="name" class="form-control" required>
				</div>
			</div>
			<div class="btn btn-group float-right btn-sm">
				<br>
					<button type="button" data-dismiss="modal" class="btn btn-warning">
						<em>Batal</em>
					</button>
					<button type="submit" class="btn btn-primary">
						<em>Simpan</em>
					</button>
			</div>
		</div>
	</form>
</body>
</html>