<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		
	</head>
	<body>
			<form th:action="@{role/delete}" method="post">
		
			<div class="modal-header bg-danger text-white">
				<h3 class="modal-title">Hapus Pendidikan ?</h3>
			</div>
			
			<div class="modal-body">
			
				<!-- ID yang terpilih akan di hapus -->	
				<input type="hidden" name="id" th:value="${data.id}">
				
				<table class="mx-auto">
					<tr>
						<td>
							<i class="fas fa-trash-alt fa-3x" style="vertical-align: middle;"></i>&nbsp;
						</td>
						<td>
							<h5 class="text-center align-middle">
							&nbsp;Anda yakin ingin menghapus role<br> <span th:text="${data.name}" style="text"></span> ?
							</h5>
						</td>
					</tr>
				</table>
				
				<div class="btn btn-group float-right btn-sm">
					<button type="button" data-dismiss="modal" class="btn btn-warning">
						<em>Tidak</em>
					</button>
					<button type="submit" class="btn btn-danger">
						<em>Ya</em>
					</button>
				</div>
			</div>
		</form>
	</body>
</html>