<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body>
		<form th:action="@{dokumen/hapus}" method="post">
			<div class="card">
				<div class="card-header">
					<h5 class="modal-title">Hapus dokumen ?</h5>
				</div>
			
				<div class="card-body">
					<h5 class="text-muted text-center">
						<i class="fas fa-trash-alt"></i> Anda yakin ingin menghapus dokumen
						<br><strong><span th:text=${data.fileName}></span></strong>
					</h5>
					
					<input type="hidden" name="id" th:value="${data.id}">
					<input type="hidden" name="biodataId" th:value="${data.biodataId}">
					<input type="hidden" name="fileName" th:value="${data.fileName}">
					<input type="hidden" name="filePath" th:value="${data.filePath}">
					<input type="hidden" name="notes" th:value="${data.notes}">
					<input type="hidden" name="createdOn" th:value="${data.createdOn}">
					<input type="hidden" name="modifiedOn" th:value="${data.modifiedOn}">
					<!--<input type="hidden" name="isPhoto" th:value="${data.isPhoto}"> -->
					
					<button type="button" class="btn btn-secondary offset-5" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"> Tidak </span>
					</button>
					
					<button type="submit" class="btn btn-warning"> Ya </button>
				</div>
			</div>
		</form>
	
	</body>

</html>