<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kirim token</title>
</head>
<body>
	<div class="modal-header" style="background-color: darkblue">
    	<h4 class="modal-title" style="color:white">Kirim Token</h4>
    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white">
			<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body">
    	<form action="/pelamar/savetoken" method="post">
    		<table align="center">
				<tbody>
					<td align="center">
						<label class="col col-form-label">Atur Kadaluarsa Token</label>
						<input type="date" name="expiredToken" id="expiredToken" class="form-control" th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
					</td>
				</tbody>
			</table>
				
    		<br>
			<div class="btn-group float-right">
				<a href="/pelamar"><button type="button" class="btn btn-warning col"><font style="color:white">Batal</font></button></a>
				<button type="submit" class="btn btn-primary col"><font style="color:white">Simpan</font></button>
			</div>
			<br>
    		
    		<input type="hidden" name="id" th:value="${data.id}">
    		<input type="hidden" name="fullname" th:value="${data.fullname}">
    		<input type="hidden" name="nickName" th:value="${data.nickName}">
    		<input type="hidden" name="pob" th:value="${data.pob}">
    		<input type="hidden" name="dob" th:value="${data.dob}">
    		<input type="hidden" name="gender" th:value="${data.gender}">
    		<input type="hidden" name="religionId" th:value="${data.religionId}">
    		<input type="hidden" name="height" th:value="${data.height}">
    		<input type="hidden" name="weight" th:value="${data.weight}">
    		<input type="hidden" name="nationality" th:value="${data.nationality}">
    		<input type="hidden" name="ethnic" th:value="${data.ethnic}">
    		<input type="hidden" name="hobby" th:value="${data.hobby}">
    		<input type="hidden" name="identityTypeId" th:value="${data.identityTypeId}">
    		<input type="hidden" name="identityNo" th:value="${data.identityNo}">
    		<input type="hidden" name="email" th:value="${data.email}">
    		<input type="hidden" name="phoneNumber1" th:value="${data.phoneNumber1}">
    		<input type="hidden" name="phoneNumber2" th:value="${data.phoneNumber2}">
    		<input type="hidden" name="parentPhoneNumber" th:value="${data.parentPhoneNumber}">
    		<input type="hidden" name="childSequence" th:value="${data.childSequence}">
    		<input type="hidden" name="howManyBrothers" th:value="${data.howManyBrothers}">
    		<input type="hidden" name="maritalStatusId" th:value="${data.maritalStatusId}">
    		<input type="hidden" name="addrbookId" th:value="${data.addrbookId}">
    		<input type="hidden" name="token" th:value="${data.token}">
    		<input type="hidden" name="marriageYear" th:value="${data.marriageYear}">
    		
    		
    	</form>
    </div>
    
</body>
</html>