<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		
	</head>
	<body>
			<form th:action="@{pendidikan/delete}" method="post">
		
			<div class="modal-header bg-danger text-white">
				<h3 class="modal-title">Hapus Pendidikan ?</h3>
			</div>
			
			<div class="modal-body">
			
				<!-- ID yang terpilih akan di hapus -->	
				<input type="hidden" name="id" th:value="${data.id}">
				<input type="hidden" name="schoolName" th:value="${data.schoolName}">
				<input type="hidden" name="city" th:value="${data.city}">
				<input type="hidden" name="country" th:value="${data.country}">
				<input type="hidden" name="jenjang" id="jenjangId" th:value="${data.educationLevelId}">
				<input type="hidden" name="entryYear" th:value="${data.entryYear}">
				<input type="hidden" name="graduationYear" th:value="${data.graduationYear}">
				<input type="hidden" name="major" th:value="${data.major}">
				<input type="hidden" name="gpa" th:value="${data.gpa}">
				<input type="hidden" name="judulTa" th:value="${data.judulTa}">
				<input type="hidden" name="deskripsiTa" th:value="${data.deskripsiTa}">
				<input type="hidden" name="notes" th:value="${data.notes}">				
				
				<table class="mx-auto">
					<tr>
						<td>
							<i class="fas fa-trash-alt fa-3x" style="vertical-align: middle;"></i>&nbsp;
						</td>
						<td>
							<h5 class="text-center align-middle">
							&nbsp;Anda yakin ingin menghapus pendidikan di<br> <span th:text="${data.schoolName}" style="text"></span> ?
							</h5>
						</td>
					</tr>
				</table>
				
				<div class="btn btn-group float-right btn-sm">
					<button type="button" data-dismiss="modal" class="btn btn-warning">
						<em>Tidak</em>
					</button>
					<button type="submit" class="btn btn-danger">
						<em>Ya</em>
					</button>
				</div>
			</div>
		</form>
	</body>
</html>