<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body>
	
		<form th:action="@{organisasi/hapus}" method="post">
			<div class="card">
				<div class="card-header">
					<h5 class="modal-title">Hapus Organisasi?</h5>
				</div>
				
				<div class="card-body">
					<h5 class="text-muted text-center">
						<i class="fas fa-trash-alt"></i> Anda yakin ingin menghapus organisasi 
						<br><strong><span th:text="${data.name}"></span></strong>
					</h5>

					<input type="hidden" name="id" th:value="${data.id}">
					<input type="hidden" name="biodataid" th:value="${data.biodataid}">
					<input type="hidden" name="name" th:value="${data.name}">
					<input type="hidden" name="position" th:value="${data.position}">
					<input type="hidden" name="responsibility" th:value="${data.responsibility}">
					<input type="hidden" name="entryYear" th:value="${data.entryYear}">
					<input type="hidden" name="exitYear" th:value="${data.exitYear}">
					<input type="hidden" name="notes" th:value="${data.notes}">
					
					<button type="button" class="btn btn-secondary offset-5" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">Tidak</span>
					</button>
					
					<button type="submit" class="btn btn-warning">Ya</button>
				</div>
			</div>
		</form>
		
	</body>
</html>