<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/fontawesome-free-5.8.1-web/css/all.min.css">
	<title>Select Access</title>
</head>
<body>
<div class="container" style="width:400px">
	<br><br><br><br><br>
	<div class="login-form">
		<form action="/login/access" method="post">
			<h4 style="display: block; text-align: left">HI, seira</h4>
			<div class="form-group">
				<div>
					<label style="display: block; text-align: center">Selamat datang di xsis2.0 silahkan pilih akses anda</label>
				</div>
			</div>
			<div class="form-group">
				<div>
					<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Collapsible Group 1</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">L.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Collapsible Group 2</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">t.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Collapsible Group 3</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">.</div>
    </div>
  </div>
</div>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>