<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/fontawesome-free-5.8.1-web/css/all.min.css">
	
	
	<title>Index HTML</title>
<head>
</head>
<body>

<div class="container" style="width:400px">
	<br><br><br><br><br>
	<div class="login-form">
		<form action="/login/index" method="post">
			<h1 style="display: block; text-align: center">XSIS 2.0</h1>
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" name="email" placeholder="email">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<input type="password" class="form-control" name="abupwd" placeholder="password">
				</div>
			</div>
			<div class="form-group">
				<button type="submit" id="btn-login" class="btn btn-primary login-btn btn-block ">Masuk</button>
			</div>
			<div class="form-group">
				<a href="/password/index" id="btn-forgotpass" class="btn btn-primary login-btn btn-block">Lupa Password</a>
			</div>
			<div class="form-group">
				<label style="display: block; text-align: center">2020 - Xsis Mitra Utama</label>
			</div>
		</form>
	</div>
</div>

	<script type="text/javascript">
	
		var url_string = window.location.href;
	    var url = new URL(url_string);
	    var c = url.searchParams.get("error");
	    
	    if(c=="1"){
	    //pop up error
	    alert("Invalid Email/Password");
		}
	    if(c=="2"){
	    	alert("Invalid Email/Password")
	    }

	</script>

</body>
</html>