<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/fontawesome-free-5.8.1-web/css/all.min.css">
	
	
	<title>Index HTML</title>
<head>
</head>
<body>

<div class="container" style="width:400px">
	<br><br><br><br><br>
	<div class="login-form">
		<form action="/login/index" method="post">
			<h2 style="display: block; text-align: center">XSIS 2.0</h2>
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" name="email" placeholder="email">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" name="abupwd" placeholder="password">
				</div>
			</div>
			<div class="form-group">
				<button type="submit" id="btn-login" class="btn btn-primary login-btn btn-block ">Masuk</button>
			</div>
			<div class="form-group">
				<a href="#" id="btn-forgotpass" class="btn btn-primary login-btn btn-block">Lupa Password</a>
			</div>
			<div class="form-group">
				<label style="display: block; text-align: center">2020 - Xsis Mitra Utama</label>
			</div>
		</form>
	</div>
</div>

	<script type="text/javascript">
	function getAllUrlParams(window.location.href) {

		  // get query string from url (optional) or window
		  var queryString = url ? url.split('?')[1] : window.location.search.slice(1);

		  // we'll store the parameters here
		  var obj = {};

		  // if query string exists
		  if (queryString) {

		    // stuff after # is not part of query string, so get rid of it
		    queryString = queryString.split('#')[0];

		    // split our query string into its component parts
		    var arr = queryString.split('&');

		    for (var i = 0; i < arr.length; i++) {
		      // separate the keys and the values
		      var a = arr[i].split('=');

		      // set parameter name and value (use 'true' if empty)
		      var paramName = a[0];
		      var paramValue = typeof (a[1]) === 'undefined' ? true : a[1];

		      // (optional) keep case consistent
		      paramName = paramName.toLowerCase();
		      if (typeof paramValue === 'string') paramValue = paramValue.toLowerCase();

		      // if the paramName ends with square brackets, e.g. colors[] or colors[2]
		      if (paramName.match(/\[(\d+)?\]$/)) {

		        // create key if it doesn't exist
		        var key = paramName.replace(/\[(\d+)?\]/, '');
		        if (!obj[key]) obj[key] = [];

		        // if it's an indexed array e.g. colors[2]
		        if (paramName.match(/\[\d+\]$/)) {
		          // get the index value and add the entry at the appropriate position
		          var index = /\[(\d+)\]/.exec(paramName)[1];
		          obj[key][index] = paramValue;
		        } else {
		          // otherwise add the value to the end of the array
		          obj[key].push(paramValue);
		        }
		      } else {
		        // we're dealing with a string
		        if (!obj[paramName]) {
		          // if it doesn't exist, create property
		          obj[paramName] = paramValue;
		        } else if (obj[paramName] && typeof obj[paramName] === 'string'){
		          // if property does exist and it's a string, convert it to an array
		          obj[paramName] = [obj[paramName]];
		          obj[paramName].push(paramValue);
		        } else {
		          // otherwise add the property
		          obj[paramName].push(paramValue);
		        }
		      }
		    }
		  }

		  return obj;
		}
	
	
	</script>

</body>
</html>