<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Keluarga</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		
	</head>
	
	<body>
	<form th:action="@{/keluarga/save}" method = "post">
		<div class="modal-header" style="background:darkblue"><h3 class="modal-title" style="color:white">Tambah Keluarga</h3>
			<button type="button" style="color:white" class="close" data-dismiss="modal" aria-label="close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		
		<div class="modal-body">
		<div class="container">
			<div class="row">
			
			<div class="row col-6">

					<div class="col-12">
						<label>Jenis Susunan Keluarga*</label>
						<select class="form-control col-md" name = "familyTree" id="familytreeId" required>
							<option value=""> - Pilih - </option>
							<option th:each="jenis:${listdataTree}" th:value="${jenis.id}" th:text="${jenis.name}"/>
						</select>
					</div>

					<div class="col-12">
						<label>Nama*</label>
						<input class="form-control col-md" type = "text" name = "name" required/>
					</div>

					<div class="col-12">
						<label>Pendidikan</label>
					<select class="form-control col-md" name = "educationLevel" id="educationLvlId" required>
						<option value=""> - Pilih - </option>
						<option th:each="pen:${listdataEdu}" th:value="${pen.id}" th:text="${pen.name}"/>
					</select>
					</div>

			
			</div>
			
			<div class="row col-6">

					<div class="col-12">
						<label>Hubungan Keluarga</label>
						<select class="form-control col-md" name = "familyRelation" id="familyrelationId" required>
							<option value=""> - Pilih - </option>
							<option th:each="relasi:${listdataRelasi}" th:value="${relasi.id}" th:text="${relasi.name}"/>
						</select>
					</div>

		
					<div class="col-6">
						<label>Jenis Kelamin</label>
							<select class="form-control col-md" name = "jk"  required>
								<option>- Pilih -</option>
								<option value="pria">pria</option>
								<option value="Cewek">Wanita</option>
								
							</select>
					
					</div>

					<div class="col-6">
						<label>tgl. Lahir(yyyy-mm-dd)</label>
						<input class="form-control col-md" type="date" name="dob" required>
						
					</div>

					<div class="col-12">
						<label>Pekerjaan</label>
					<input class="form-control col-md" type="text" name="job"  required/>
					</div>

				</div>
				<!-- kosong abis -->
				
			
			<div class="row col-12">
				<div class="col">
					<label class = "col-form- table col-md">Catatan</label>
					<textarea class="form-control col-md" rows = "5" name = "notes" required>tulis catatan</textarea>
				</div>
			</div>
			
			<div class="col-12">
					
					</div>
					
					<div class="col-12">
					
						<div class="btn-group  float-right">
							<button  class="btn btn-warning" data-dismiss="modal" type="button">Batal</button>
							<button  class="btn btn-dark" type="submit">Simpan</button>
						</div>
					</div>
		</div>
	</div>
	</div>
		
		
		
		<!-- ////////////////////////////////////////////////////////
		///////////////////////// -->
		
		
		<!-- /////////////////////////////////////// -->
		</form>
		
		<script type="text/javascript">
			
		</script>
	</body>
</html>