<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		
		
	</head>
	
	<body>
	
		<div class="container">
			<div>
				<div class="row">
					<h1 class="box-title" style="color:darkblue">Keluarga  </a></h1><span><a id="btn-add" class="btn btn-lg" href="#"><i class="fas fa-plus-circle"></i></a></span>
					
				</div>
				<div>
					<table class="table">
						<thead class="blue" style="color:darkblue">
							<tr>
								<th>HUBUNGAN</th>
								<th>NAMA</th>
								<th>JK</th>
								<th>TGL. LAHIR</th>
								<th>PENDIDIKAN</th>
								<th>PEKERJAAN</th>
								<th>#</th>
							</tr>
						</thead>
					<tbody>
						<tr th:each ="item : ${listdata}">
							<td><span th:text="${item.familyRelation.name}"></span></td>
							<td><span th:text="${item.name}"></span></td>
							<td><span th:text="${item.jk}"></span></td>
							<td><span th:text="${item.dob}"></span></td>
							<td><span th:text="${item.educationLevel.name}"></span></td>
							<td><span th:text="${item.job}"></span></td>
							<td >
								<div class="dropout">
									<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
										More
										<span class="caret"></span>
									</button>
								<div class="dropdown-menu">
								    
								    	<a th:href="@{/keluarga/edit/{id}(id=${item.id})}"  class="dropdown-item btn-edit text-center">
										<b>Edit  <i class="fas fa-edit"></i></b>
										</a>
									
								    	<a th:href="@{/keluarga/delete/{id}(id=${item.id})}"  class="dropdown-item btn-delete text-center">
										<b>Delete  <i class="fas fa-trash-alt"></i></b>
										</a>
								    
								</div>
								</div>	
							</td>
						</tr>
					</tbody>
				</table>
				</div>
				<div >
				
				</div>
			</div>
				
				<div id="modal-form" class="modal fade" role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
			
						</div>
					</div>
				</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.4.0.min.js" ></script>
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="../../js/jquery.serializejson.js" ></script>
		
		<script type="text/javascript">
		
		
		
// 		function loadFamTree(){
// 			$.ajax({
// 				url:'/api/familytree/',
// 				type:'get',
// 				dataType:'json',
// 				success : function(hasil){
// 					//Method looping dari jquery untuk looping hasil
// 					//karna hasil berupa array
// 					$('#modal-form').find('#familytreeId').empty();
// 					$('#modal-form').find('#familytreeId').append('<option value=""> -Pilih- </option>');

// 					$.each(hasil, function(index, val){
// 						$('#modal-form').find('#familytreeId').append('<option value="'+val.id+'"> '+val.name+' </option>');
// 					});
// 				}
// 			})
// 		}
		
		
		
// 		function loadFamRelasi(){
// 			$.ajax({
// 				url:'/api/familyrelation/',
// 				type:'get',
// 				dataType:'json',
// 				success : function(hasil){
// 					//Method looping dari jquery untuk looping hasil
// 					//karna hasil berupa array
// 					$('#modal-form').find('#familyrelationId').empty();
// 					$('#modal-form').find('#familyrelationId').append('<option value=""> -Pilih- </option>');

// 					$.each(hasil, function(index, value){
// 						$('#modal-form').find('#familyrelationId').append('<option value="'+value.id+'"> '+value.name+' </option>');
// 					});
// 				}
// 			})
// 		}
		
// 		function loadEduLevel(selectedId){
// 			$.ajax({
// 				url:'/api/educationlvl/',
// 				type:'get',
// 				dataType:'json',
// 				success : function(hasil){
// 					//Method looping dari jquery untuk looping hasil
// 					//karna hasil berupa array
// 					$('#modal-form').find('#educationLvlId').empty();
// 					$('#modal-form').find('#educationLvlId').append('<option value=""> -Pilih- </option>');

// 					$.each(hasil, function(index, value){
// 						$('#modal-form').find('#educationLvlId').append('<option value="'+value.id+'"> '+value.name+' </option>');
// 					});
// 				}
// 			})
// 		}
			
			$("#btn-add").click(function(){
				$.ajax({
					url:'/add',
					type:'get',
					dataType:'html',
					success:function(hasil){
						$("#modal-form").find(".modal-content").html(hasil);
						$("#modal-form").modal("show");
					}
				})
// 				.done(function(){
// 					loadFamTree();
// 					loadFamRelasi();
// 					loadEduLevel();
// 				})
				
			})
			
			$(".btn-delete").click(function(){
				var a = $(this).attr("href");
				$.ajax({
					url:a,
					type:'get',
					dataType:'html',
					success:function(hasil){
						$("#modal-form").find(".modal-content").html(hasil);
						$("#modal-form").modal("show");
					}
				})
				return false;
			})
			
			$(".btn-edit").click(function(){
				var a = $(this).attr("href");
				$.ajax({
					url:a,
					type:'get',
					dataType:'html',
					success:function(hasil){
						
						$("#modal-form").find(".modal-content").html(hasil);
						$("#modal-form").modal("show");
					}
				})
// 				.done(function(){
// 					loadFamTree();
// 					loadFamRelasi();
// 					loadEduLevel();
// 				})
				return false;
			})
			
			
		</script>
	</body>
</html>