<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body>
		<form th:action="@{project/hapus}" method="post">
			<div class="card">
				<div class="card-header">
					<h5 class="modal-title">Hapus Project?</h5>
				</div>
				
				<div class="card-body">
					<h5 class="text-muted text-center">
						<i class="fas fa-trash-alt"></i> Anda yakin ingin menghapus proyek 
						<br><strong><span th:text=${data.projectName}></span></strong>
					</h5>
					
					<input type="hidden" name="id" th:value="${data.id}">
					
					<input type="hidden" name="createdOn" th:value="${data.createdOn}">
					<input type="hidden" name="modifiedOn" th:value="${data.modifiedOn}">
					
					<input type="hidden" name="riwayatPekerjaanId" th:value="${data.riwayatPekerjaanId}">
					<input type="hidden" name="startYear" th:value="${data.startYear}">
					<input type="hidden" name="startMonth" th:value="${data.startMonth}">
					<input type="hidden" name="projectName" th:value="${data.projectName}">
					<input type="hidden" name="projectDuration" th:value="${data.projectDuration}">
					<input type="hidden" name="client" th:value="${data.client}">
					<input type="hidden" name="projectPosition" th:value="${data.projectPosition}">
					<input type="hidden" name="description" th:value="${data.description}">
					<input type="hidden" name="timePeriod" th:value="${data.timePeriodId}">
					
					<button type="button" class="btn btn-secondary offset-5" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"> Tidak </span>
					</button>
					
					<button type="submit" class="btn btn-warning"> Ya </button>
				</div>
			</div>
		</form>
	
	</body>
</html>