<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body>
		<form th:action="@{project/hapus}" method="post">
			<div class="card">
				<div class="card-header">
					<h5 class="modal-title">Hapus Project?</h5>
				</div>
				
				<div class="card-body">
					<h5 class="text-muted text-center">
						<i class="fas fa-trash-alt"></i> Anda yakin ingin menghapus proyek 
						<br><strong><span th:text=${data.projectName}></span></strong>
					</h5>
					
					<input type="hidden" name="id" th:value="${data.id}">
					
					<input type="hidden" name="timePeriod" id="timeid" th:value="${data.timePeriodId}" class="form-control">
					
					<button type="button" class="btn btn-secondary offset-5" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"> Tidak </span>
					</button>
					
					<button type="submit" class="btn btn-warning"> Ya </button>
				</div>
			</div>
		</form>
	
	</body>
</html>